body { background-color: rgb(255, 253, 231);
    }

.cards { 
    
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.days {
    margin-right: 1.5rem;
    height: 300px;
}

.days img {
    height: 90px;
}

h1 {
    
    top: 0;
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 253, 231);
    
    }

h2 {
    color: rgb(208, 106, 94);
    text-align: center;
    text-decoration: underline;
}
h4 {
    text-align: center;
}
.imgOfPark {
    height: 200px;
}

.mainImage {
    background-image: url(assets/IMG_1587.jpeg);
    height: 400px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: transparent;
    background-size: cover;
    position: relative;
}

.nav-wrapper {
    background-color: rgb(208, 106, 94);
    text-align: center;
}
.park-info{
    text-align: center;
}


#parkSearchResults {
    background: none;
    border: none;
}
#parkDescription {
    font-size: 16px;
    

}
#parkName {
    color: white;
    font-size: 36px;
    
}

#parkList{
    
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: transparent;
    background-size: cover;
}
.placeholder {
    text-align: center;
    color: rgb(255, 253, 231);
}
.searchbtn {
    color: rgb(255, 253, 231);
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;

}
.searchbtn material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}



#site-objectives {
    
    border-radius: 3px;
    opacity: .8;
    text-align: center;
    

}
.utilityDescription {
    color: rgb(208, 106, 94);
}
    

.wrapper-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.1);
    max-width: 350px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.wrapper-1 .input {
    width: 85%;
    padding: 15px 20px; 
    border: none;
    font-weight: bold;
    /* height: 0; */
    border-radius: 5px;
    color:rgb(255, 253, 231);
    text-align: center;
    
    
}
/* start of styling for page after park has been selected */
#columns {
  column-count: 3;
  column-gap: 20px;
}

h5 {
    text-align: center;
    font-size: 56px;
    color: rgb(208, 106, 94);
    
}


    
    
    

#selectedDirections, #selectedFees, #selectedCampgrounds, #selectedAlerts, #selectedActivities {
   text-align: center;
}
.selectedTitle {
    font-size: 32px;
    text-decoration: underline;
    color: rgb(208, 106, 94) ;
    align-content: center;
}
li {
    color:rgb(208, 106, 94);
    list-style-type: disc;
    list-style-position: inside;
}

    





#progressGIF {
    height: 300px;
    display: flex;
    align-content: center;
}








    