body { background-color: rgb(255, 253, 231);}

.nav-wrapper {
 background-color: rgb(208, 106, 94);
 text-align: center;
}

.mainImage {
    background-image: url(assets/IMG_1587.jpeg);
    width: 100%;
    height: 300px;
    background-size: cover;
}


.cards{ 
    display: flex;
    justify-content: space-between;
    flex-grow: 3;

}
#site-objectives {
    background-color: rgb(208, 106, 94);
    
    
    
}